body{
    font-family: 'Helvetica', sans-serif;
    margin: 0%;
    padding: 0%;
    color: black;
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px;
}
header .logo{
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}
header .menu{
    display: flex;
    gap: 20px;
}
header .menu a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
header .menu a:hover{
    color: #0f0;
}
.rv{
    color: black ;
    background-color: white;
}
.rv2{
    background-color: black;
    color: white;
}
footer{
    background-color: gray;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
footer .social a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

footer .social a:hover {
    color: #0f0;
}
.block {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
}
.content {
        padding-top: 100px; 
}